.background-image-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('img/background.jpg') no-repeat center center fixed; 
  background-size: cover;
  z-index: -1;
}
